name: dbt CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  dbt-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install dbt-duckdb

      - name: Run dbt deps
        working-directory: dbt_project
        run: dbt deps --profiles-dir profiles/

      - name: Run dbt seed
        working-directory: dbt_project
        run: dbt seed --profiles-dir profiles/ --target ci

      - name: Run dbt run
        working-directory: dbt_project
        run: dbt run --profiles-dir profiles/ --target ci

      - name: Run dbt test
        working-directory: dbt_project
        run: dbt test --profiles-dir profiles/ --target ci
